html {
  box-sizing: border-box;
  font-family: sans-serif, Bevan;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #dbd6cf;
}

header {
  background-color: #79756f;
  border: 3px solid #595652;
}

h1 {
  font-family: Bevan;
  color: #fff;
  text-align: center;
}

nav li {
  background-color: #713837;
  border-radius: 5px;
  padding: .5em .75em;
  display: inline-block;
}

nav a {
  color: #fff;
}

nav li:hover {
  background-color: #f33;
}

nav {
  text-align: center;
  color: #fff;
}
